<!DOCTYPE html>
<meta charset="utf-8">
<head>
{% include 'header.html' %}
<script src="{{ url_for('static', filename='js/url.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma.parsers.json.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/sigma.layout.forceAtlas2.min.js') }}"></script>
</head>
<body>
{% include 'navbar.html' %}
<div id="headerwrap">
  <form action="/search" method="get">
    <input type="text" name="input_sentence" placeholder="Please write here" class="cform-text" size="40" title="input_sentence" value="{{ query }}">
    <input type="submit" value="Go" class="cform-submit">
  </form>
</div>
<div id="graph-container" class="container">
	<div class="row">
    <div id = "graph-column" class="col-sm-6">
      <button type="button" class="btn btn-default center-block" id="stop-layout" >Stop Graph</button>
      <div id="chart"></div>
      <div id="book-info-table">
        <table class="table table-striped">
          <tbody>
            <tr>
  		        <td><h4>{{ result.title }}</h4></td>
            </tr>
            <tr>
              <td>
        		  {{ result.description }}
              </td>
            </tr>
            <tr>
              <td>
        		  Authors:
                {% for author in result.authors %}
                  {{ author.name }}
                  {% if not loop.last %}
                    ,
                  {% endif %}
                {% endfor %}
        		  </td>
            </tr>
            <tr>
              <td>
        		  Publisher: {{ result.publisher }}
              </td>
            </tr>
            <tr>
              <td>
        		  Publication year: {{ result.publication_year }}
              </td>
            </tr>
            <tr>
              <td>
        		  <img src="{{ result.image_url }}" height="400" width="300">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
		<div id="book-comments" class="col-sm-6">
      <iframe src="https://www.goodreads.com/api/reviews_widget_iframe?isbn={{ result.isbn }}" height="1000"></iframe>
		</div>
	</div>
</div>
<script src="{{ url_for('static', filename='js/draw_graph.js') }}"></script>
</body>
</html>
