<!DOCTYPE html>
<meta charset="utf-8">
<head>
{% include 'header.html' %}
<script src="{{ url_for('static', filename='js/url.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3.v2.min.js') }}"></script>
</head>
<body>
{% include 'navbar.html' %}
<div id="headerwrap">
  <form action="/search" method="get">
    <input type="text" name="input_sentence" placeholder="Please write here" class="cform-text" size="40" title="input_sentence" value="{{ query }}">
    <input type="submit" value="Go" class="cform-submit">
  </form>
</div>
<div id="graph-container" class="container">
	<div class="row">
		<div id="chart" class="span7"></div>
		<div id="book-info" class="span7">
		  Title:{{ result.title }}
		  </br>
		  Authors:
		    {% for author in result.authors %}
		      {{ author.name }}
		    {% endfor %}
		  </br>
		  Publisher: {{ result.publisher }}
		  </br>
		  Publication year: {{ result.publication_year }}
		  </br>
		  Description: {{ result.description }}
		  <img src="{{ result.image_url }}" height="400" width="300">
		  </br>
		  <iframe src="https://www.goodreads.com/api/reviews_widget_iframe?isbn={{ result.isbn }}" height="500" width="500" ></iframe>
		</div>
	</div>
</div>
<script src="{{ url_for('static', filename='js/force_view.js') }}"></script>
</body>
</html>
