<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Midnight Team</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" id='prettyphoto-css' href="{{ url_for('static', filename='css/prettyPhoto.css') }}" type='text/css' media='all'>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontello.css') }}">
<!--[if lt IE 7]>
<link href="css/fontello-ie7.css" type="text/css" rel="stylesheet">
<![endif]-->
<link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<style type="text/css">
body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
</style>
<link href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet">
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.scrollTo-1.4.2-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.localscroll-1.2.7-min.js') }}"></script>
<script charset="utf-8">
$(document).ready(function () {
    $("a[rel^='prettyPhoto']").prettyPhoto();
});
</script>
</head>
<body>
<div class="navbar-wrapper">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <h1 class="brand"><a href="#top">Midnight Team</a></h1>
        <nav class="pull-right nav-collapse collapse">
          <ul id="menu-main" class="nav">
            <li><a title="services" href="#services">Services</a></li>
            <li><a title="team" href="#team">Team</a></li>
            <li><a title="contact" href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<div id="top"></div>
<div id="headerwrap">
  <header class="clearfix">
    <h1><span>Midnight Team</span> We make reading more interesting.</h1>
    <div class="container">
      <div class="row">
        <div class="span12">
          <h2>Write whatever you like to read</h2>
					<form action="/search" method="get">
	          <input type="text" name="input_sentence" placeholder="Please write here" class="cform-text" size="40" title="input_sentence">
	          <input type="submit" value="Go" class="cform-submit">
					</form>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <ul class="icon">
            <li><a href="#"><i class="icon-facebook-circled"></i></a></li>
            <li><a href="#"><i class="icon-twitter-circled"></i></a></li>
            <li><a href="#"><i class="icon-gplus-circled"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</div>
<div class="scrollblock">
  <section id="feature">
    <div class="container">
      <div class="row">
        <div class="span12">
          <article>
            <p>Reading is boring</p>
            <p>But we want to improve it</p>
            <p>Even though it is not possible</p>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>
<hr>
<div class="footer-wrapper">
  <div class="container">
    <footer> <small>&copy; 2016 Midnight Team IBM course-project. No rights reserved.</a></small> </footer>
  </div>
</div>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.prettyPhoto.js') }}"></script>
<script src="{{ url_for('static', filename='js/site.js') }}"></script>
</body>
</html>
