<!DOCTYPE HTML>
<html lang="en">
<head>
{% include 'header.html' %}
</head>
<body>
{% include 'navbar.html' %}
<div id="top"></div>
<div id="headerwrap">
  <header class="clearfix">
    <h1><span>Midnight Team</span> We make reading more interesting.</h1>
    <div class="container">
      <div class="row">
        <div class="span12">
          <h2>Write whatever you like to read</h2>
					<form action="/search" method="get">
	          <input type="text" name="input_sentence" placeholder="Please write here" class="cform-text" size="40" title="input_sentence">
	          <input type="submit" value="Go" class="cform-submit">
					</form>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <ul class="icon">
            <li><a href="#"><i class="icon-facebook-circled"></i></a></li>
            <li><a href="#"><i class="icon-twitter-circled"></i></a></li>
            <li><a href="#"><i class="icon-gplus-circled"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</div>
<div class="scrollblock">
  <section id="feature">
    <div class="container">
      <div class="row">
        <div class="span12">
          <article>
            <p>Reading is boring</p>
            <p>But we want to improve it</p>
            <p>Even though it is not possible</p>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>
<hr>
<div class="footer-wrapper">
  <div class="container">
    <footer> <small>&copy; 2016 Midnight Team IBM course-project. No rights reserved.</a></small> </footer>
  </div>
</div>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.prettyPhoto.js') }}"></script>
<script src="{{ url_for('static', filename='js/site.js') }}"></script>
</body>
</html>
