<div class="navbar-wrapper">
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <h1 class="navbar-brand"><a href="#top">Midnight Team</a></h1>
        <nav class="navbar-right navbar-collapse collapse">
          <ul id="menu-main" class="nav navbar-nav">
            <!--<li><a title="services" href="#services">Services</a></li>-->
            <li><a title="team" href="#team">Team</a></li>
            <!--<li><a title="contact" href="#contact">Contact</a></li>-->
          </ul>
        </nav>
      </div>
  </nav>
</div>
