<!DOCTYPE HTML>
<html lang="en">

<head>
<title>Midnight Team</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<!--<link rel="stylesheet" id='prettyphoto-css' href="{{ url_for('static', filename='css/prettyPhoto.css') }}" type='text/css' media='all'>-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontello.css') }}">
<link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="navbar-wrapper">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
        <h1 class="brand"><a href="/">Home</a></h1>
        <nav class="pull-right nav-collapse collapse">
          <ul id="menu-main" class="nav">
            <li><a title="services" href="#services">Services</a></li>
            <li><a title="team" href="#team">Team</a></li>
            <li><a title="contact" href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<div id="headerwrap">
  <form action="/search" method="get">
    <input type="text" name="input_sentence" placeholder="Please write here" class="cform-text" size="40" title="input_sentence" value="{{ query }}">
    <input type="submit" value="Go" class="cform-submit">
  </form>
</div>
<div id="search-results" class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Title / Description
        </th>
        <th>
          Other
        </th>
      </tr>
    </thead>
  <tbody>
  {% for result in results %}
    <tr>
    <td>
      <a href="/graph?center={{ result.id }}">{{ result.title }}</a>
      </br>
      {{ result.description }}
      </br>
    </td>
    <td>
      Authors:
        {% for author in result.authors %}
          {{ author.name }}
        {% endfor %}
      </br>
      Publisher: {{ result.publisher }}
      </br>
      Publication year: {{ result.publication_year }}
      </br>
    </td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
</div>
</body>
